.oferta{
    position: relative;
    @include displayFlex(center, center, column nowrap);

    width: 100%;
    height: 500px;
    background-image: url("../IMG/ofertasImg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    &::before{
        @extend .overlay;
    }

    *{
        position: relative;
    }
}